html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.hide {
  display: none;
}

.randomText {
  margin: 2em;
  padding: 2em;
  background-color: darkgrey;
  opacity: 70%;
  border: 1px solid grey;
}

.header {
  margin: 0;
  background-color: darkgrey;
  text-align: center;
  opacity: 70%;
}

#randomText {
  text-align: center;
  color: white;
}

.menu {
  background-color: transparent;
}

#ileakapitow {
  width: 30%;
  background-color: #00aed9;
}

.tarea {
  margin: 1em 2em 1em 2em;
  padding: 2em;
  background-color: white;
  border-radius: 1em;
  display: flex;
  justify-content: space-around;
}

#trzyAkapity {
  opacity: 70%;
}

.tareaValue {
  margin: 2em;
  padding: 0.2em 1em 0.2em 1em;
  background-color: white;
}

.info {
  position: absolute;
  font-size: 14px;
  text-decoration: underline;
  bottom: 8px;
  right: 16px;
}

.info:hover + .hide {
  display: block;
  color: yellow;
  position: absolute;
  background-color: black;
  font-size: 12px;
  bottom: 22px;
  right: 16px;
}


/* ------------------------------- */

.svg-wrapper {
  height: 40px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 180px;
  border-radius: 10px;
  background-color: #0074d9;
}

.shape {
  fill: transparent;
  /*  stroke-dasharray: 140 540;*/
  stroke-dashoffset: -474;
  stroke-width: 2px;
  stroke: #025094;
}

.kopiuj {
  color: #fff;
  /*  font-family: 'Roboto Condensed';
  font-size: 22px;
  letter-spacing: 8px; */
  text-align: center;
  text-decoration: underline;
  /* line-height: 32px; */
  position: relative;
  top: -30px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 2px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 6px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}